@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?ls8sxb');
  src:url('../fonts/icomoon.eot?ls8sxb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ls8sxb') format('truetype'),
    url('../fonts/icomoon.woff?ls8sxb') format('woff'),
    url('../fonts/icomoon.svg?ls8sxb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e600";
}
.icon-redo:before {
  content: "\e603";
}
.icon-user:before {
  content: "\e601";
}
.icon-enlarge2:before {
  content: "\e606";
}
.icon-list:before {
  content: "\e61a";
}
.icon-menu:before {
  content: "\e605";
}
.icon-loop:before {
  content: "\e602";
}
.icon-star:before {
  content: "\e604";
}


