@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";

$post-bg-color: #FFFCF5;
$body-color: #F2EFE8;
$gray-text-color: #C5C2AF;
$text-color: black;
$tweet: #80A9CA;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background: $body-color;
  text-align: center;
}

.numbers {
  width: 80%;
  margin: 2em auto;
  background: $post-bg-color;

  li {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 1.5em 3em;
    border-bottom: 3px solid transparent;
    transition: all .3s ease-in;

    h4 {
      text-transform: uppercase;
      color: $gray-text-color;
    }

    p {
      margin-top: 1em;
      font-weight: bold;
    }

    &:hover {
      border-bottom: 3px solid $tweet;
    }
  }
}

.post {
  width: 80%;
  margin: 2em auto;
  position: relative;
  text-align: left;
  padding: 2em;
  background: $post-bg-color;

  .content {
    margin-left: 3em;

    span {
      margin-right: 1em;

      &.name {
        font-size: 1.5em;
        font-weight: bold;
      }

      &.account {
        font-weight: lighter;
        color: $gray-text-color;
      }

      &.time {
        color: $gray-text-color;
        float: right;
        margin-right: 0;
      }
    }
  }

  header {
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1em;
    line-height: 1.4em;
    font-weight: normal;
  }

  footer {
    a {
      text-decoration: none;
      color: $gray-text-color;
      margin-right: 1em;
      &:last-child {
        float: right;
        margin-right: 0;
      }

      &:hover {
        color: $text-color;
      }
    }
  }

  .avator {
    width: 3em;
    height: 3em;
    @include border-radius(100%);
    position: absolute;
    top: 2em;
    left: 2em;
  }
}
