@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";

$bg-color: #efefef;
$border-color: #A1A19F;
$text-color: #4f4f4f;
$second-text-color: #D9DADA;
$highlight-text-color: white;
$button-color: #6cdcac;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  text-align: center;
}

.hero {
  max-width: 100em;
  margin: 0 auto;
  background-image: url('../images/hero-image.jpg');
  background-size: cover;
  color: $highlight-text-color;

  header {
    img {
      margin: 1em;
      width: 5em;
      height: 4em;
      float: left;
    }

    ul {
      float: right;

      li {
        float: left;
        margin: 1em .5em;
        padding: .5em 1em;
        border: 1px solid transparent;
        border-radius: 2px;

        &:last-child {
          border: 1px solid $highlight-text-color;
        }
      }
    }
    @include clearfix;
  }

  h1 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 1em .5em 0;
  }

  h2 {
    font-size: 2em;
    color: $second-text-color;
  }

  form {
    padding: 2em 0 4em 0;

    input[type="text"] {
      padding: 1em;
      border: 0;
      width: 18em;
      border-radius: 2px 0 0 2px;
      background-color: $bg-color;
      opacity: .3;
    }

    input[type="button"] {
      color: $highlight-text-color;
      padding: 1em;
      border: 0;
      width: 6em;
      border-radius: 0 2px 2px 0;
      background-color: $button-color;
      text-transform: uppercase;
    }
  }
}

.numbers {
  width: 80%;
  margin: 0 auto;

  ul {
    position: relative;
    top: -1em;
    background-color: $bg-color;

    li {
      float: left;
      width: 25%;
      box-sizing: border-box;
      border-top: 1px solid $second-text-color;
      border-bottom: 1px solid $second-text-color;
      border-left: 1px solid $second-text-color;

      &:last-child {
        border-right: 1px solid $second-text-color;
      }

      h2 {
        font-size: 2em;
        padding: 1em 0;
      }

      h3 {
        font-size: 1.5em;
        padding: 0 0 2em 0;
      }

    }
    @include clearfix;
  }
}

.how-it-works {
  h2 {
    font-size: 2em;
    margin: 3em auto 1em auto;
    text-transform: uppercase;

    &:after {
      display: block;
      content: "";
      background-color: $border-color;
      width: 2em;
      height: .1em;
      margin: .4em auto;
    }
  }

  ul {
    li {
      float: left;
      width: 33.3%;
      box-sizing: border-box;

      &:before {
        display: block;
        content: "";
        background-color: $border-color;
        width: 91%;
        height: 1px;
        position: relative;
        top: 4em;
        left: 50%;
        margin: 0 2em;
      }

      &:last-child:before {
        display: none;
      }

      .number {
        font-size: 2em;
        color: $border-color;
        border: 1px solid $border-color;
        width: 1em;
        height: 1em;
        display: block;
        margin: 1em auto 2em auto;
        padding: .4em;
        @include border-radius(100%);
        background-color: $bg-color;
      }

      i {
        font-size: 3.6em;
      }

      .icon-list {
        color: #ECA95A;
      }

      .icon-pencil {
        color: #AD9BD1;
      }

      .icon-users {
        color: #5098C8;
      }

      h3 {
        margin: 2em auto 1em auto;
        font-size: 1.5em;
        font-weight: bold;
      }

      p {
        color: #A1A09E;
        font-size: 1em;
        margin: 2em auto;
        width: 50%;
      }
    }
  }

}
