/* line 9, ../sass/main.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  text-align: center;
}

/* line 15, ../sass/main.scss */
.hero {
  max-width: 100em;
  margin: 0 auto;
  background-image: url("../images/hero-image.jpg");
  background-size: cover;
  color: white;
}
/* line 22, ../sass/main.scss */
.hero header {
  overflow: hidden;
  *zoom: 1;
}
/* line 23, ../sass/main.scss */
.hero header img {
  margin: 1em;
  width: 5em;
  height: 4em;
  float: left;
}
/* line 30, ../sass/main.scss */
.hero header ul {
  float: right;
}
/* line 33, ../sass/main.scss */
.hero header ul li {
  float: left;
  margin: 1em .5em;
  padding: .5em 1em;
  border: 1px solid transparent;
  border-radius: 2px;
}
/* line 40, ../sass/main.scss */
.hero header ul li:last-child {
  border: 1px solid white;
}
/* line 48, ../sass/main.scss */
.hero h1 {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em .5em 0;
}
/* line 55, ../sass/main.scss */
.hero h2 {
  font-size: 2em;
  color: #D9DADA;
}
/* line 60, ../sass/main.scss */
.hero form {
  padding: 2em 0 4em 0;
}
/* line 63, ../sass/main.scss */
.hero form input[type="text"] {
  padding: 1em;
  border: 0;
  width: 18em;
  border-radius: 2px 0 0 2px;
  background-color: #efefef;
  opacity: .3;
}
/* line 72, ../sass/main.scss */
.hero form input[type="button"] {
  color: white;
  padding: 1em;
  border: 0;
  width: 6em;
  border-radius: 0 2px 2px 0;
  background-color: #6cdcac;
  text-transform: uppercase;
}
